*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url("bg1.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
.heading{
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 100px;
}
#head {
    font-size: 1.8em;
    color:rgb(221, 8, 8);
}
#subheading {
    font-size: 18px;
    margin-top: 10px;
}
#content1 {
    width: 90%;
    margin: auto;
}
form {
    background-color: rgba(0,0,0,0.7);
    padding-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54%;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 60px;
}
.box{
    width:98.5%;
    height: 2.8em;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 5px;
}
#option1 select{
    width:98.5%;
    height: 2.7em;
    position:relative;
    bottom: 10px;
    border-radius: 5PX;
    border: 0;
}
#rating1{
    display: inline-block;
}
#rating1 input{
    display: none;
}
#rating1 label{
    float: right;
    cursor: pointer;
    color: black;
}
#rating1 label::before {
    content: '\2605';
    font-size: 50px;
}
#rating1 input:checked~label {
    color:darkgoldenrod;
}
#rating2{
    display: inline-block;
}
#rating2 input{
    display: none;
}
#rating2 label{
    float: right;
    cursor: pointer;
    color: black;
}
#rating2 label::before {
    content: '\2605';
    font-size: 50px;
}
#rating2 input:checked~label {
    color:darkgoldenrod;
}
#rating3{
    display: inline-block;
}
#rating3 input{
    display: none;
}
#rating3 label{
    float: right;
    cursor: pointer;
    color: black;
}
#rating3 label::before {
    content: '\2605';
    font-size: 50px;
}
#rating3 input:checked~label {
    color:darkgoldenrod;
}
#rating4{
    display: inline-block;
}
#rating4 input{
    display: none;
}
#rating4 label{
    float: right;
    cursor: pointer;
    color: black;
}
#rating4 label::before {
    content: '\2605';
    font-size: 50px;
}
#rating4 input:checked~label {
    color:darkgoldenrod;
}
#rating5{
    display: inline-block;
}
#rating5 input{
    display: none;
}
#rating5 label{
    float: right;
    cursor: pointer;
    color: black;
}
#rating5 label::before {
    content: '\2605';
    font-size: 50px;
}
#rating5 input:checked~label {
    color:darkgoldenrod;
}
#rating6{
    display: inline-block;
}
#rating6 input{
    display: none;
}
#rating6 label{
    float: right;
    cursor: pointer;
    color: black;
}
#rating6 label::before {
    content: '\2605';
    font-size: 50px;
}
#rating6 input:checked~label {
    color:darkgoldenrod;
}
#rating7{
    display: inline-block;
}
#rating7 input{
    display: none;
}
#rating7 label{
    float: right;
    cursor: pointer;
    color: black;
}
#rating7 label::before {
    content: '\2605';
    font-size: 50px;
}
#rating7 input:checked~label {
    color:darkgoldenrod;
}